.ShipName{width:190px;font-family:'Electrolize', Arial;font-size:18px;font-weight:bold;padding-right:15px;text-align:right;vertical-align:top;}
.ShipBox{margin:15px 0;}
.Ship
{
    display:inline-block;
    float:left;
}

.ShipContainer .Ship{
    margin: 5px 0;
}