.ShipName{width:190px;font-family:'Electrolize', Arial;font-size:18px;font-weight:bold;padding-right:15px;text-align:right;vertical-align:top;}
.ShipBox{margin:15px 0;}
.Ship
{
    background-image:url('../images/ship-black.png');
    display:inline-block;
    float:left;
}
.Aurora {
    width: 62px;
    height: 13px;
    background-position: -5px -5px;
}

.Avenger {
    width: 67px;
    height: 17px;
    background-position: -77px -5px;
}

.Carrack {
    width: 443px;
    height: 112px;
    background-position: -154px -5px;
}

.Caterpillar {
    width: 238px;
    height: 29px;
    background-position: -607px -5px;
}

.Constellation {
    width: 204px;
    height: 44px;
    background-position: -855px -5px;
}

.Cutlass {
    width: 99px;
    height: 22px;
    background-position: -1069px -5px;
}

.Freelancer {
    width: 109px;
    height: 23px;
    background-position: -5px -37px;
}

.Gladiator {
    width: 80px;
    height: 19px;
    background-position: -1178px -5px;
}

.Gladius {
    width: 67px;
    height: 17px;
    background-position: -1178px -34px;
}

.Herald {
    width: 77px;
    height: 31px;
    background-position: -607px -61px;
}

.Hornet {
    width: 75px;
    height: 16px;
    background-position: -694px -61px;
}

.Hull-A {
    width: 73px;
    height: 14px;
    background-position: -779px -61px;
}

.Hull-B {
    width: 166px;
    height: 61px;
    background-position: -862px -61px;
}

.Hull-C {
    width: 352px;
    height: 152px;
    background-position: -5px -132px;
}

.Hull-D {
    width: 703px;
    height: 262px;
    background-position: -367px -132px;
}

.Hull-E {
    width: 1250px;
    height: 385px;
    background-position: -5px -399px;
}

.Idris {
    width: 814px;
    height: 168px;
    background-position: -5px -789px;
}

.Javelin {
    width: 1150px;
    height: 244px;
    background-position: -5px -967px;
}

.Jump {
    width: 410px;
    height: 69px;
    background-position: -829px -789px;
}

.Khartu {
    width: 29px;
    height: 80px;
    background-position: -1080px -61px;
}

.M50 {
    width: 37px;
    height: 8px;
    background-position: -1119px -61px;
}

.Merchantman {
    width: 333px;
    height: 161px;
    background-position: -1268px -5px;
}

.Mustang {
    width: 61px;
    height: 19px;
    background-position: -1080px -176px;
}

.Orion {
    width: 569px;
    height: 173px;
    background-position: -5px -1221px;
}

.Reclaimer {
    width: 531px;
    height: 167px;
    background-position: -1080px -205px;
}

.Redeemer {
    width: 125px;
    height: 34px;
    background-position: -1265px -382px;
}

.Reliant {
    width: 51px;
    height: 97px;
    background-position: -1400px -382px;
}

.Retaliator {
    width: 237px;
    height: 42px;
    background-position: -1265px -489px;
}

.Scythe {
    width: 103px;
    height: 24px;
    background-position: -1461px -382px;
}

.Starfarer {
    width: 300px;
    height: 75px;
    background-position: -1265px -541px;
}

.Vanguard {
    width: 128px;
    height: 29px;
    background-position: -1461px -416px;
}

.s300i {
    width: 80px;
    height: 18px;
    background-position: -1151px -176px;
}
