.ShipName{width:190px;font-family:'Electrolize', Arial;font-size:18px;font-weight:bold;padding-right:15px;text-align:right;vertical-align:top;}
.ShipBox{margin:15px 0;}
.Ship
{
    background-image:url('../images/ship-black.png');
    display:inline-block;
    float:left;
}

.Aurora {
    width: 62px;
    height: 13px;
    background-position: -5px -5px;
}

.Avenger {
    width: 67px;
    height: 17px;
    background-position: -77px -5px;
}

.Carrack {
    width: 443px;
    height: 112px;
    background-position: -154px -5px;
}

.Caterpillar {
    width: 238px;
    height: 29px;
    background-position: -607px -5px;
}

.Constellation {
    width: 204px;
    height: 44px;
    background-position: -855px -5px;
}

.Cutlass {
    width: 99px;
    height: 22px;
    background-position: -1069px -5px;
}

.Endeavor {
    width: 666px;
    height: 69px;
    background-position: -607px -59px;
}

.Freelancer {
    width: 109px;
    height: 23px;
    background-position: -1178px -5px;
}

.Genesis {
    width: 283px;
    height: 58px;
    background-position: -5px -138px;
}

.Gladiator {
    width: 80px;
    height: 19px;
    background-position: -5px -38px;
}

.Gladius {
    width: 67px;
    height: 17px;
    background-position: -298px -138px;
}

.Herald {
    width: 77px;
    height: 31px;
    background-position: -375px -138px;
}

.Hornet {
    width: 75px;
    height: 16px;
    background-position: -462px -138px;
}

.Hull-A {
    width: 73px;
    height: 14px;
    background-position: -547px -138px;
}

.Hull-B {
    width: 166px;
    height: 61px;
    background-position: -630px -138px;
}

.Hull-C {
    width: 352px;
    height: 152px;
    background-position: -806px -138px;
}

.Hull-D {
    width: 703px;
    height: 262px;
    background-position: -5px -209px;
}

.Hull-E {
    width: 1250px;
    height: 385px;
    background-position: -5px -481px;
}

.Idris {
    width: 814px;
    height: 168px;
    background-position: -5px -876px;
}

.Javelin {
    width: 1150px;
    height: 244px;
    background-position: -5px -1054px;
}

.Jump {
    width: 410px;
    height: 69px;
    background-position: -718px -300px;
}

.Khartu {
    width: 29px;
    height: 80px;
    background-position: -95px -38px;
}

.M50 {
    width: 37px;
    height: 8px;
    background-position: -1069px -38px;
}

.Merchantman {
    width: 333px;
    height: 161px;
    background-position: -829px -876px;
}

.Mustang {
    width: 61px;
    height: 19px;
    background-position: -1168px -138px;
}

.Orion {
    width: 569px;
    height: 173px;
    background-position: -1297px -5px;
}

.Reclaimer {
    width: 531px;
    height: 167px;
    background-position: -1168px -188px;
}

.Redeemer {
    width: 125px;
    height: 34px;
    background-position: -1709px -188px;
}

.Reliant {
    width: 51px;
    height: 97px;
    background-position: -1709px -232px;
}

.Retaliator {
    width: 237px;
    height: 42px;
    background-position: -1138px -365px;
}

.Scythe {
    width: 103px;
    height: 24px;
    background-position: -1770px -232px;
}

.Starfarer {
    width: 300px;
    height: 75px;
    background-position: -1385px -365px;
}

.Vanguard {
    width: 128px;
    height: 29px;
    background-position: -1709px -339px;
}

.s300i {
    width: 80px;
    height: 18px;
    background-position: -1770px -266px;
}
