dt{float:left;width:150px;clear:left;}
dd{float:left;}
.clear{clear:both;}
.fLeft{float:left;}
#InputFields{display:inline-block;}
#InputFields a {text-decoration: none;}
#holder { border: 10px dashed #ccc; width: 150px; height: 150px; margin: 20px auto;}
#holder.hover { border: 10px dashed #333; }